{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Cluster{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <label for="Network Voltage">Network Voltage</label>
    <input name="Network Voltage" id="Network Voltage" required>
    <label for="Pole Cost">Pole Cost</label>
    <input name="Pole Cost" id="Pole Cost" required>
    <label for="Pole Spacing">Pole Spacing</label>
    <input name="Pole Spacing" id="Pole Spacing" required>
    <label for="Resistance per km">Resistance per km</label>
    <input name="Resistance per km" id="Resistance per km" required>
    <label for="Current Rating">Current Rating</label>
    <input name="Current Rating" id="Current Rating" required>
    <label for="Cost per km">Cost per km</label>
    <input name="Cost per km" id="Cost per km" required>
    <label for="Max Voltage Drop">Max Voltage Drop</label>
    <input name="Max Voltage Drop" id="Max Voltage Drop" required>
    <label for="CSV File">CSV File</label>
    <input name="CSV File" type="file" id="CSV File" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}

